<template>
  <div>
    <v-alert icon="mdi-alert-circle" :value="error" type="error" dismissible>
      {{ error }}
    </v-alert>

    <v-data-table
      :headers="headers"
      :items="accounts"
      hide-actions
      :loading="is_loading"
      :pagination.sync="pagination"
      :total-items="total">
      <template slot="no-data">
        <p class="text-xs-center">
          No accounts.
        </p>
      </template>
      <template v-slot:items="props">
        <td class="text-xs-left">
          <span>{{ props.item.username }}</span>
        </td>
        <td class="text-xs-left">
          <v-btn outline small color="success" :ripple="false" v-if="!props.item.is_disabled">
            active
          </v-btn>
          <v-btn v-else outline small :ripple="false" color="error">
            disabled
          </v-btn>
        </td>
        <td class="justify-left">
          <v-tooltip bottom>
            <v-btn flat icon small color="grey darken-1" slot="activator"
              :to="`/admin/accounts/${props.item.id}`">
              <v-icon small>mdi-magnify</v-icon>
            </v-btn>
            <span>View account</span>
          </v-tooltip>
        </td>
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages" :total-visible="8" @input="paginate"></v-pagination>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import api from '@/bloom/kernel/api';
import router from '@/bloom/kernel/router';


const LIMIT = 25;

@Component
export default class Accounts extends Vue {
  // props
  // data
  error = '';
  is_loading = false;
  offset = 0;
  total = 0;
  accounts: any[] = [];
  pagination: any = {};
  headers = [
    {
      align: 'left',
      sortable: true,
      text: 'Username',
      value: 'username',
    },
    {
      align: 'left',
      sortable: false,
      text: 'Active',
      value: 'is_disabled',
    },
    { text: 'Actions', sortable: false },
  ];


  // computed
  get pages() {
    if (!this.total) {
      return 0;
    }

    return Math.ceil(this.total / LIMIT);
  }


  // lifecycle
  created() {
    this.pagination.rowsPerPage = -1;
    const page = this.$route.query.page;
    if (page) {
      const parsed_page = Number(page);
      if (!isNaN(parsed_page)) {
        this.pagination.page = parsed_page;
      }
    }
    this.fetch_data();
  }


  // watch
  // @Watch('pagination', { deep: true })
  async paginate() {
    router.push({ query: { page: this.pagination.page }});
    return this.fetch_data();
  }


  // methods
  async fetch_data() {
    this.error = '';
    this.is_loading = true;
    const offset = this.pagination.page ? (this.pagination.page - 1) * LIMIT : 0;
    try {
      const res = await api.get(`${api.ADMIN}/v1/accounts`, {
        params: {
          limit: LIMIT,
          offset,
        },
      });
      this.accounts = res.hits;
      this.total = res.total;
    } catch (err) {
      this.error = err.message;
    } finally {
      this.is_loading = false;
    }
  }
}
</script>


<style scoped lang="scss">
</style>
